@mixin tablet {
    @media screen and (max-width: 757px) {
        @content;
    }
}

@mixin mediumScreen {
    @media screen and (max-width: 992px) {
        @content;
    }
}

@mixin largeScreen {
    @media screen and (min-width: 992px) {
        @content;
    }
}

@mixin mobile {
    @media screen and (max-width: 575px) {
        @content;
    }
}

@mixin bg-img($url) {
    background: url($url) no-repeat;
    background-position: center;
    background-size: cover;
}

@mixin overlay($z-index, $bg-color, $rgp) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($bg-color, $alpha: $rgp);
    z-index: $z-index;
}

;
// property prefixes
@mixin prefixer($property, $value, $prefixes-list) {
    @each $prefix in $prefixes {
        #{'-' + $prefix + '-' + $property}: $value;
    }
    #{$property}:$value;
}

;
// reSetting a(anchor)
@mixin reSetting-a($size, $color) {
    text-decoration: none;
    text-transform: uppercase;
    font-size: $size;
    color: $color;
}